---
import Hero from "@component/Hero.astro";
import { getCollection, getEntry } from "astro:content";

export async function getStaticPaths() {
	const posts = await getCollection("posts");
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}

const post = Astro.props;
const { Content } = await post.render();
---

<div>{post.data.title}</div>
