---
import Layout from "@component/global/Layout/Layout.astro";
const pageTitle: string = "Fabrication Solution In Dubai";
const structuredData = {
	"@context": "https://schema.org",
	"@type": "WebPage",
	"@id": "https://lovosis.com/about",
	url: "https://lovosis.com/about",
	name: "IT Solution | Lovosis",
	description:
		"Discover Lovosis, Dubai's authorized supplier of top-quality Surveillance & IT Solution. Learn about our commitment to excellence in the UAE construction industry.",
	isPartOf: {
		"@type": "WebSite",
		url: "https://lovosis.com",
		name: "Lovosis",
		description:
			"Custom Fabrication & Surveillance Solution Provider In Dubai, United Arab Emirates.",
	},
	inLanguage: "en-US",
};
---

<Layout title={pageTitle} sd={structuredData}>
	<!-- Features -->
	<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
		<div class="relative p-6 md:p-16">
			<!-- Grid -->
			<div
				class="relative z-10 lg:grid lg:grid-cols-12 lg:gap-16 lg:items-center"
			>
				<div class="mb-10 lg:mb-0 lg:col-span-6 lg:col-start-8 lg:order-2">
					<h2
						class="text-2xl text-gray-800 font-bold sm:text-3xl dark:text-neutral-200"
					>
						Robotics Projects for Classroom Learning
					</h2>

					<!-- Tab Navs -->
					<nav
						class="grid gap-4 mt-5 md:mt-10"
						aria-label="Tabs"
						role="tablist"
						aria-orientation="vertical"
					>
						<button
							type="button"
							class="hs-tab-active:bg-white hs-tab-active:shadow-md hs-tab-active:hover:border-transparent text-start hover:bg-gray-200 focus:outline-none focus:bg-gray-200 p-4 md:p-5 rounded-xl dark:hs-tab-active:bg-neutral-700 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700 active"
							id="tabs-with-card-item-1"
							aria-selected="true"
							data-hs-tab="#tabs-with-card-1"
							aria-controls="tabs-with-card-1"
							role="tab"
						>
							<span class="flex gap-x-6">
								<svg
									class="shrink-0 mt-2 size-6 md:size-7 hs-tab-active:text-blue-600 text-gray-800 dark:hs-tab-active:text-blue-500 dark:text-neutral-200"
									xmlns="http://www.w3.org/2000/svg"
									width="24"
									height="24"
									viewBox="0 0 24 24"
									fill="none"
									stroke="currentColor"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									><path
										d="M5 5.5A3.5 3.5 0 0 1 8.5 2H12v7H8.5A3.5 3.5 0 0 1 5 5.5z"
									></path><path d="M12 2h3.5a3.5 3.5 0 1 1 0 7H12V2z"
									></path><path
										d="M12 12.5a3.5 3.5 0 1 1 7 0 3.5 3.5 0 1 1-7 0z"
									></path><path
										d="M5 19.5A3.5 3.5 0 0 1 8.5 16H12v3.5a3.5 3.5 0 1 1-7 0z"
									></path><path
										d="M5 12.5A3.5 3.5 0 0 1 8.5 9H12v7H8.5A3.5 3.5 0 0 1 5 12.5z"
									></path></svg
								>
								<span class="grow">
									<span
										class="block text-lg font-semibold hs-tab-active:text-blue-600 text-gray-800 dark:hs-tab-active:text-blue-500 dark:text-neutral-200"
										>Robot Magician</span
									>
									<span
										class="block mt-1 text-gray-800 dark:hs-tab-active:text-gray-200 dark:text-neutral-200"
										>A versatile robotic arm for educational and industrial
										applications, offering precision, flexibility, and custom
										programming options</span
									>
								</span>
							</span>
						</button>

						<button
							type="button"
							class="hs-tab-active:bg-white hs-tab-active:shadow-md hs-tab-active:hover:border-transparent text-start hover:bg-gray-200 focus:outline-none focus:bg-gray-200 p-4 md:p-5 rounded-xl dark:hs-tab-active:bg-neutral-700 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700"
							id="tabs-with-card-item-2"
							aria-selected="false"
							data-hs-tab="#tabs-with-card-2"
							aria-controls="tabs-with-card-2"
							role="tab"
						>
							<span class="flex gap-x-6">
								<svg
									class="shrink-0 mt-2 size-6 md:size-7 hs-tab-active:text-blue-600 text-gray-800 dark:hs-tab-active:text-blue-500 dark:text-neutral-200"
									xmlns="http://www.w3.org/2000/svg"
									width="24"
									height="24"
									viewBox="0 0 24 24"
									fill="none"
									stroke="currentColor"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									><path d="m12 14 4-4"></path><path
										d="M3.34 19a10 10 0 1 1 17.32 0"></path></svg
								>
								<span class="grow">
									<span
										class="block text-lg font-semibold hs-tab-active:text-blue-600 text-gray-800 dark:hs-tab-active:text-blue-500 dark:text-neutral-200"
										>Custom programming</span
									>
									<span
										class="block mt-1 text-gray-800 dark:hs-tab-active:text-gray-200 dark:text-neutral-200"
										>Custom Robot solutions for the classroom: Engage students
										with unique programming projects designed to support and
										enrich educational outcomes</span
									>
								</span>
							</span>
						</button>

						<button
							type="button"
							class="hs-tab-active:bg-white hs-tab-active:shadow-md hs-tab-active:hover:border-transparent text-start hover:bg-gray-200 focus:outline-none focus:bg-gray-200 p-4 md:p-5 rounded-xl dark:hs-tab-active:bg-neutral-700 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700"
							id="tabs-with-card-item-3"
							aria-selected="false"
							data-hs-tab="#tabs-with-card-3"
							aria-controls="tabs-with-card-3"
							role="tab"
						>
							<span class="flex gap-x-6">
								<svg
									class="shrink-0 mt-2 size-6 md:size-7 hs-tab-active:text-blue-600 text-gray-800 dark:hs-tab-active:text-blue-500 dark:text-neutral-200"
									xmlns="http://www.w3.org/2000/svg"
									width="24"
									height="24"
									viewBox="0 0 24 24"
									fill="none"
									stroke="currentColor"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									><path
										d="m12 3-1.912 5.813a2 2 0 0 1-1.275 1.275L3 12l5.813 1.912a2 2 0 0 1 1.275 1.275L12 21l1.912-5.813a2 2 0 0 1 1.275-1.275L21 12l-5.813-1.912a2 2 0 0 1-1.275-1.275L12 3Z"
									></path><path d="M5 3v4"></path><path d="M19 17v4"
									></path><path d="M3 5h4"></path><path d="M17 19h4"
									></path></svg
								>
								<span class="grow">
									<span
										class="block text-lg font-semibold hs-tab-active:text-blue-600 text-gray-800 dark:hs-tab-active:text-blue-500 dark:text-neutral-200"
										>Robot Vision Kit</span
									>
									<span
										class="block mt-1 text-gray-800 dark:hs-tab-active:text-gray-200 dark:text-neutral-200"
										>Add powerful vision capabilities to your D obot setup with
										the Vision Kit. Perfect for precision tasks and real-time
										image processing in education.</span
									>
								</span>
							</span>
						</button>
					</nav>
					<!-- End Tab Navs -->
				</div>
				<!-- End Col -->

				<div class="lg:col-span-6">
					<div class="relative">
						<!-- Tab Content -->
						<div>
							<div
								id="tabs-with-card-1"
								role="tabpanel"
								aria-labelledby="tabs-with-card-item-1"
							>
								<img
									class="shadow-xl shadow-gray-500 rounded-xl dark:shadow-gray-900/20"
									src="/dobot3.png"
									alt="Features Image"
								/>
							</div>

							<div
								id="tabs-with-card-2"
								class="hidden"
								role="tabpanel"
								aria-labelledby="tabs-with-card-item-2"
							>
								<img
									class="shadow-xl shadow-gray-200 rounded-xl dark:shadow-gray-900/20"
									src="/dobot1.png"
									alt="Features Image"
								/>
							</div>

							<div
								id="tabs-with-card-3"
								class="hidden"
								role="tabpanel"
								aria-labelledby="tabs-with-card-item-3"
							>
								<img
									class="shadow-xl shadow-gray-200 rounded-xl dark:shadow-gray-900/20"
									src="/dobotvision1.png"
									alt="Features Image"
								/>
							</div>
						</div>
						<!-- End Tab Content -->

						<!-- SVG Element -->
						<div
							class="hidden absolute top-0 end-0 translate-x-20 md:block lg:translate-x-20"
						>
							<svg
								class="w-16 h-auto text-orange-500"
								width="121"
								height="135"
								viewBox="0 0 121 135"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									d="M5 16.4754C11.7688 27.4499 21.2452 57.3224 5 89.0164"
									stroke="currentColor"
									stroke-width="10"
									stroke-linecap="round"></path>
								<path
									d="M33.6761 112.104C44.6984 98.1239 74.2618 57.6776 83.4821 5"
									stroke="currentColor"
									stroke-width="10"
									stroke-linecap="round"></path>
								<path
									d="M50.5525 130C68.2064 127.495 110.731 117.541 116 78.0874"
									stroke="currentColor"
									stroke-width="10"
									stroke-linecap="round"></path>
							</svg>
						</div>
						<!-- End SVG Element -->
					</div>
				</div>
				<!-- End Col -->
			</div>
			<!-- End Grid -->

			<!-- Background Color -->
			<div class="absolute inset-0 grid grid-cols-12 size-full">
				<div
					class="col-span-full lg:col-span-7 lg:col-start-6 bg-gray-100 w-full h-5/6 rounded-xl sm:h-3/4 lg:h-full dark:bg-neutral-800"
				>
				</div>
			</div>
			<!-- End Background Color -->
		</div>

		<!-- End Features -->
		<div
			class="text-center bg-gray-100 dark:bg-neutral-500 p-5 md:p-12 rounded-2xl mb-20 mt-8"
		>
			<h1
				class="text-balance animate-fade-in-left text-3xl md:text-6xl md:leading-tight font-bold tracking-tight text-neutral-800 dark:text-neutral-100"
			>
				Gallery
			</h1>
			<p class="mt-1 text-pretty text-neutral-600 dark:text-neutral-200"></p>
		</div>

		<div class="grid grid-cols-1 md:grid-cols-4 sm:grid-cols-2 gap-2 mt-8">
			<div class="space-y-2">
				<img
					class="w-full h-auto object-cover"
					src="/exibition.JPG"
					alt="Gallery Masonry Image"
				/>
				<img
					class="w-full h-auto object-cover"
					src="/exhibition5.jpeg"
					alt="Gallery Masonry Image"
				/>
				<img
					class="w-full h-auto object-cover"
					src="/exhibition4.jpeg"
					alt="Gallery Masonry Image"
				/>
			</div>
			<div class="space-y-2">
				<img
					class="w-full h-auto object-cover"
					src="/exhibition2.JPG"
					alt="Gallery Masonry Image"
				/>
				<img
					class="w-full h-auto object-cover"
					src="/exhibition.JPG"
					alt="Gallery Masonry Image"
				/>
				<img
					class="w-full h-auto object-cover"
					src="/exhibition.JPG"
					alt="Gallery Masonry Image"
				/>
			</div>
			<div class="space-y-2">
				<img
					class="w-full h-auto object-cover"
					src="/exhibition7.JPG"
					alt="Gallery Masonry Image"
				/>
				<img
					class="w-full h-auto object-cover"
					src="/exhibition8.JPG"
					alt="Gallery Masonry Image"
				/>
				<img
					class="w-full h-auto object-cover"
					src="/exibition10.JPG"
					alt="Gallery Masonry Image"
				/>
			</div>
			<div class="space-y-2">
				<img
					class="w-full h-auto object-cover"
					src="/exhibition2.JPG"
					alt="Gallery Masonry Image"
				/>
				<img
					class="w-full h-auto object-cover"
					src="/exhibition2.JPG"
					alt="Gallery Masonry Image"
				/>
				<img
					class="w-full h-auto object-cover"
					src="/russian.jpg"
					alt="Gallery Masonry Image"
				/>
			</div>
		</div>

		<!-- Announcement Banner -->
		<div class="bg-gradient-to-r bg-slate-200 mt-8 rounded-2xl">
			<div class="max-w-[85rem] px-4 py-4 sm:px-6 lg:px-8 mx-auto">
				<!-- Grid -->
				<div
					class="grid justify-center md:grid-cols-2 md:justify-between md:items-center gap-2"
				>
					<div class="text-center md:text-start">
						<p class="text-xs text-black uppercase tracking-wider">
							DIGIIMPACT
						</p>
						<p class="mt-1 text-black font-medium">
							Have questions? Reach out to us! We're here to help with all your
							robotics and programming needs
						</p>
					</div>
					<!-- End Col -->

					<div
						class="mt-3 text-center md:text-start md:flex md:justify-end md:items-center"
					>
						<a
							class="py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-full border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-white dark:hover:bg-neutral-800 dark:focus:bg-neutral-800"
							href="/contact"
						>
							contact us
						</a>
					</div>
					<!-- End Col -->
				</div>
				<!-- End Grid -->
			</div>
		</div>
	</div>
	<!-- End Announcement Banner -->
</Layout>
<script is:inline src="/scripts/vendor/preline/tabs/index.js"></script>
