---
import Hero from "@component/Hero.astro";
import Slider from "@component/Slider";
import PostCard from "@component/CommonCard.astro";
import { Layout } from "@globals";
import { getCollection } from "astro:content";
import Pagination from "@component/Pagination.astro";
import ServiceAstro from "@component/ServiceAstro.astro";
import Faq from "@component/widgets/Faq";
import TitleComponents from "@component/TitleComponents.astro";
const allPosts = await getCollection("posts");
const postsPerPage = 15;
const totalPages = Math.ceil(allPosts.length / postsPerPage);
const basePath = "/posts/";
---

<Layout title="Digital oscilloscope distributor and manufacturer in india">
	<Hero />
	<Slider client:load />
	<ServiceAstro />
	<TitleComponents title="Our Products" />

	<div
		class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3 max-w-6xl mx-auto mb-8"
	>
		{allPosts.map((post) => <PostCard post={post} />)}
	</div>

	<Pagination
		currentPage={1}
		lastPage={totalPages}
		urlPrev={null}
		urlNext={totalPages > 1 ? `/page/2` : null}
		basePath={basePath}
		maxDisplayedPages={5}
	/>

	<TitleComponents title="Frequently Asked Questions?" />
	<Faq client:load />

	<!-- <MyWork /> -->
</Layout>
