---
import type { CollectionEntry } from "astro:content";
import OptimizedCover from "../components/OptimizedPicture.astro";
import FormattedDate from "../components/FormattedDate.astro";
import { Image } from "astro:assets";
import TracingBeam from "./TracingBeam";
import OptimizedPicture from "../components/OptimizedPicture.astro";

interface Props {
	post: CollectionEntry<"posts">;
}

const { post } = Astro.props;
---

<div
	class="relative overflow-hidden mx-auto rounded-xl p-4 bg-white border-2 transition-transform duration-500 hover:-translate-y-1 hover:scale-105 dark:bg-neutral-900 m-4 flex flex-col"
>
	<a href={`/posts/documentation/${post.slug}/`} class="block flex-grow">
		<img src={post.data.coverSrc} alt="" class="w-auto h-auto object-contain" />
	</a>
	<div class="text-center mt-auto">
		<p class="text-xl">{post.data.title}</p>
	</div>
</div>
