---
import type { CollectionEntry } from "astro:content";
import OptimizedCover from "../components/OptimizedPicture.astro";
import FormattedDate from "../components/FormattedDate.astro";
import { Image } from "astro:assets";
import TracingBeam from "./TracingBeam";
import OptimizedPicture from "../components/OptimizedPicture.astro";

interface Props {
	post: CollectionEntry<"posts">;
}

const { post } = Astro.props;
---

<div
	class="relative overflow-hidden border border-black mx-6 rounded-xl bg-blue-400 transition-transform duration-500 hover:-translate-y-1 hover:scale-105 m-4 md:p-0 p-4"
>
	<a href={`/posts/documentation/${post.slug}/`} class="block">
		<img src={post.data.coverSrc} alt="" class="object-cover size-64" />
	</a>
	<div class="text-center">
		<p class="text-xl p-2 text-white">{post.data.title}</p>
	</div>
</div>
