---
import logo from "../assets/img/digiimpact.png";
import { Image } from "astro:assets";
---

<span
	class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
	<Image
		src={logo}
		loading="eager"
		alt="Your Logo"
		width="128"
		height="64"
		loading="eager"
	/>
</span>
