---
import Card from "../components/Card.astro";
// import Anaren from "../components/Anaren.astro";

---

   
   <div class="mx-auto grid grid-cols-1 md:grid-cols-3 gap-4">
        <div class="">
          <Card
            href="anaren"
            title="Anaren.com"
            body="A Drupal website for the space and defense company, featuring pages for their different divisions and product lines. It also includes extensive DataTables integration for their product catalog."
            tags="Drupal, PHP, JavaScript, CSS, HTML"
          >
            <div class="max-w-full">
              <!-- <Anaren /> -->
            </div>
          <!-- </Card> -->
        </div>
        <div class="">
          <Card
            href="anaren"
            title="Anaren.com"
            body="A Drupal website for the space and defense company, featuring pages for their different divisions and product lines. It also includes extensive DataTables integration for their product catalog."
            tags="Drupal, PHP, JavaScript, CSS, HTML"
          >
            <div class="max-w-full">
              <!-- <Anaren /> -->
            </div>
          </Card>
        </div>
        <div class="">
          <Card
            href="anaren"
            title="Anaren.com"
            body="A Drupal website for the space and defense company, featuring pages for their different divisions and product lines. It also includes extensive DataTables integration for their product catalog."
            tags="Drupal, PHP, JavaScript, CSS, HTML"
          >
            <div class="max-w-full">
              <!-- <Anaren /> -->
            </div>
          </Card>
        </div>
      </div> 