---
import Container from "./container.astro";
import hikvision from "../assets/img/education.webp";
import { Image } from "astro:assets";
import { Button } from "./ui/button";
---

<Container>
	<div class="flex-row items-center my-6 p-4 bg-white rounded">
		<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
			<div class="autoShow justify-start items-center gap-[275px] flex">
				<div
					class="flex-col justify-start items-start gap-[26px] inline-flex text-black"
				>
					<div class="text-3xl font-medium">Customized Work Benches</div>
					<div class="text-lg font-normal">
						Customized Workbenches: Our tailored workbenches are designed to
						meet your unique needs, ensuring optimal efficiency and
						functionality in your workspace. From specialized storage solutions
						to adjustable work surfaces and integrated power/data connections,
						we craft workbenches that precisely match your specifications for
						enhanced productivity..
					</div>
					<Button
						className="p-6 border rounded-xl justify-items-center md:justify-items-start gap-2.5 inline-flex text-base font-normal leading-7"
						variant="secondary"
					>
						<a href="/contact"> Contact us for quote </a>
					</Button>
				</div>
			</div>
			<div class="grid cols-1 fadeInRight">
				<Image src={hikvision} alt="cat" class="rounded-2xl" />
			</div>
		</div>
	</div>

	<style>
		.autoShow {
			animation: autoShowAnimation both;
			animation-timeline: view(70% 5%);
		}

		@keyframes autoShowAnimation {
			from {
				opacity: 0;
				transform: translateY(200px) scale(0.3);
			}
			to {
				opacity: 1;
				transform: translateY(0) scale(1);
			}
		}

		.autoRotate {
			animation: autoRotateAnimation;
			animation-timeline: view();
		}
		@keyframes autoRotateAnimation {
			from {
				transform: rotate(90deg);
			}
			to {
				transform: rotate(360deg);
			}
		}

		.fadeInRight {
			animation: fadeInRightAnimation;
			animation-timeline: view();
		}

		@keyframes fadeInRightAnimation {
			from {
				opacity: 0;
				transform: translateX(100px);
			}
			to {
				opacity: 1;
				transform: translateX(0);
			}
		}
	</style>
</Container>
