---
import Container from "./container.astro";
import hikvision from "../assets/img/education.webp";
import { Image } from "astro:assets";
---

<Container>
	<div class="flex-row items-center my-6 p-4 bg-white rounded">
		<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
			<div class="justify-start items-center gap-[275px] flex">
				<div
					class="flex-col justify-start items-start gap-[26px] inline-flex text-black"
				>
					<div class="text-3xl font-medium">Customized Work Benches</div>
					<div class="text-lg font-normal">
						Customized Workbenches: Our tailored workbenches are designed to
						meet your unique needs, ensuring optimal efficiency and
						functionality in your workspace. From specialized storage solutions
						to adjustable work surfaces and integrated power/data connections,
						we craft workbenches that precisely match your specifications for
						enhanced productivity..
					</div>
					<a
						href="/contact"
						class="px-[35px] py-5 bg-zinc-900 rounded-[14px] justify-start items-start gap-2.5 inline-flex"
					>
						<div class="text-center text-white text-xl font-normal leading-7">
							Contact us for quote
						</div>
					</a>
				</div>
			</div>
			<div class="grid cols-1">
				<Image src={hikvision} alt="cat" />
			</div>
		</div>
	</div>
</Container>
