---
const { title } = Astro.props;
interface Props {
	title: string;
}
---

<div class="mx-auto mb-12 w-full space-y-1 text-center sm:w-1/2 lg:w-1/3">
	<!-- <h2
		class="text-balance md:text-6xl text-5xl autoBLur font-bold leading-tight text-neutral-800 sm:text-3xl"
	>
		Meet
	</h2>
	<h2
		class="text-balance md:text-6xl text-5xl autoBLur font-bold leading-tight text-neutral-800 sm:text-3xl"
	>
		Our
	</h2> -->
	<!-- <h2
		class="text-balance text-4xl font-bold leading-tight text-neutral-800 sm:text-3xl"
	>
		Our Products
	</h2> -->
</div>

<!-- <style>
	.autoBLur {
		animation: autoBLurAnimation linear both;
		animation-timeline: view();
	}
	@keyframes autoBLurAnimation {
		0% {
			filter: blur(40px);
		}
		45%,
		55% {
			filter: blur(0px);
		}
		100% {
			filter: blur(40px);
		}
	}

	.autoShow {
		animation: autoShowAnimation both;
		animation-timeline: view(70% 5%);
	}

	@keyframes autoShowAnimation {
		from {
			opacity: 0;
			transform: translateY(200px) scale(0.3);
		}
		to {
			opacity: 1;
			transform: translateY(0) scale(1);
		}
	}
</style> -->
