---
import Bolg from "@component/Bolg.astro";
import ArticleIcon from "@component/icons/ArticleIcon.astro";
import VideoIcon from "@component/icons/VideoIcon.astro";
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import { Layout } from "@globals";

const articlesData: CollectionEntry<"blog">[] = (
	await getCollection("blog")
).sort(
	(a: CollectionEntry<"blog">, b: CollectionEntry<"blog">) =>
		b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<Layout title="Astro PWA Starter">
	<main class="space-y-20">
		<div class="max-w-screen-xl mx-auto px-6 md:px-14 xl:px-14">
			<div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
				<div class="mx-auto max-w-screen-sm text-center lg:mb-16 mb-8">
					<h2
						class="mb-4 text-3xl lg:text-4xl tracking-tight font-extrabold text-gray-900"
					>
						Our Blog
					</h2>
					<p class="font-light text-gray-500 sm:text-xl">
						We use an agile approach to test assumptions and connect with the
						needs of your audience early and often.
					</p>
				</div>
				<div class="grid gap-8 lg:grid-cols-2">
					{articlesData.map((blogEntry) => <Bolg blogEntry={blogEntry} />)}
				</div>
			</div>
		</div>
	</main>
</Layout>
